@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: lightblue;
    color: #000;
}

header {
    text-align: center;
}

h1,
h2 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

/* modo oscuro */
body.modo-oscuro {
    background: #181a1b !important;
    color: #f1f1f1 !important;
}

body.modo-oscuro .card,
body.modo-oscuro .modal-content,
body.modo-oscuro .table,
body.modo-oscuro .accordion-body {
    background: #23272b !important;
    color: #f1f1f1 !important;
}

body.modo-oscuro .navbar,
body.modo-oscuro .bg-primary,
body.modo-oscuro footer.bg-primary {
    background: #222b3a !important;
}

body.modo-oscuro .list-group-item {
    background: #23272b !important;
    color: #f1f1f1 !important;
}

body.modo-oscuro .form-control,
body.modo-oscuro .form-select {
    background: #23272b !important;
    color: #f1f1f1 !important;
    border-color: #444c56;
}

body.modo-oscuro .alert-info {
    background: #23272b;
    color: #f1f1f1;
    border-color: #444c56;
}

body.modo-oscuro .alert-success {
    background: #1e2b1e;
    color: #d4edda;
    border-color: #155724;
}

body.modo-oscuro .table-primary {
    background: #23272b !important;
    color: #f1f1f1 !important;
}